page-coursedetails {
#welcome{
    background: color($colors,bgdemo);
     font-family: "Lobster",cursive;
     #ci{

          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }
}
}
