page-login {
#welcome{
    background: color($colors,bgdemo);
    .bl
    {
         font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .il{
        font-family: "Lobster",cursive;
    }
}
}
