page-welcome {
#welcome{
background:color($colors,bgdemo);
h1{
    font-size: 52 px;
    margin-top:50px;
    text-align: center;
    font-family: "Lobster";
    font-weight: bold;
    font-size: 50px;
}

}
.bws{
    margin-top: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bwl{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
}
