page-signup {
    #welcome{
background:color($colors,bgdemo);
.bs
{
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.ils{
    font-family: "Lobster";
}
.iss{
    font-family: "Lobster";
}
    }
}
